body{
    background-color: #00004d;
    padding: 0;
    margin: 0;
}
.container{
    height: 480px;
    width: 350px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 55px rgba(0,0,0,0.4);
            box-shadow: 0 0 55px rgba(0,0,0,0.4); 
    z-index: 0;
}
.snow{
    height: 420px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: 350px,600px;
    background-position: -5000px -5000px,-5000px -5000px;
    background-image: url(snow2-01-min.png),url(snow1-01-min.png);
    -webkit-animation: snow1 80s infinite linear;
            animation: snow1 80s infinite linear;
}
@-webkit-keyframes snow1{
    0%{
        background-position: -5000px -5000px,-5000px -5000px;
    }
    100%{
        background-position: -4000px -3000px,0px -500px;
    }
}
@keyframes snow1{
    0%{
        background-position: -5000px -5000px,-5000px -5000px;
    }
    100%{
        background-position: -4000px -3000px,0px -500px;
    }
}

.tree{
    stroke-dasharray:1120; 
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ECBF78;
    stroke-dashoffset:1120;
    -webkit-animation: draw 4s linear forwards;
            animation: draw 4s linear forwards;
}
.text{
    -webkit-animation: shift 1s 3.5s forwards;
            animation: shift 1s 3.5s forwards;
    opacity: 0;
    fill: #ECBF78;
}
.star{
    fill: transparent;
    -webkit-animation: show 0.5s 3.75s forwards;
            animation: show 0.5s 3.75s forwards;
    fill: #ECBF78;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}
@-webkit-keyframes show{
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes show{
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes draw{
    100%{
        stroke-dashoffset:0;
    }
}
@keyframes draw{
    100%{
        stroke-dashoffset:0;
    }
} 
@-webkit-keyframes shift{
    0%{
        -webkit-transform: translateX(-30px);
                transform: translateX(-30px);
    }
    30%{
        -webkit-transform: translateX(25px);
                transform: translateX(25px);
        opacity: 1;
    }
    50%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
        
    }
    70%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 1;
    }
} 
@keyframes shift{
    0%{
        -webkit-transform: translateX(-30px);
                transform: translateX(-30px);
    }
    30%{
        -webkit-transform: translateX(25px);
                transform: translateX(25px);
        opacity: 1;
    }
    50%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
        
    }
    70%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 1;
    }
}
a{
    color: #00004d;
    background-color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px 12px; 
    font-size: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
}
.yt{
    left: 15px;
}
.wb{
    right: 15px;
}