body {
    width: 400px;
    margin: 0 auto;
    background-color:navy;
    animation:slide 6s infinite;
}
.center
{
height:300px;
width:300px;
border:1px solid white;
border-radius:50%;
border-top:50px;
margin-top:20px;
margin-left:20px;
box-shadow:5px 5px 15px 5px white;
background-color:marron;
animation:animate 4s infinite;
}
@keyframes animate{
    0%{ background-color:maroon;
    box-shadow:2px 3px 1px 2px white;}
    50%{background-color:DarkCyan;
    transform:rotateY(360deg)rotateZ(360deg); 
     box-shadow:2px 3px 1px 2px teal;}
     100%{background-color:indigo;box-shadow:2px 3px 1px 2px SlateBlue;}
    150%{background-color:Darkred;
    box-shadow:2px 3px 1px 2px black;
    }
}
.text{
height:200px;
width:200px;
border:1px solid white;
box-shadow:2px 1px 1px 2px MistyRose;
border-radius:50%;
text-shadow:5px;
margin-top:50px;
margin-left:50px;
text-align:center;
font-family:cursive;
font-size:40px;
background-color:GhostWhite;
position:fixed;
}
@keyframes slide
{
0%{background-color:maroon;}
    50%{ background-color:DarkCyan;}
    100%{background-color:indigo;}
    150%{background-color:red;}
}
p{
    color:mistyrose;
    font-family:cursive;
    font-size:20px;
}
p1{
    color:Honeydew;
    font-family:cursive;
    font-size:20px;
}
p2{
color:blue;
    margin-top:180px;
    margin-left:50px;
    animation: dur 4s 2;
}

@keyframes dur
{
    0%{color:maroon;}
    50%{color:DarkCyan;}
    100%{color:indigo;}
    150%{color:red;}
}

}
#bnc{
    border:none;
    font-size:2em;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.6);
    margin-top:45px;
    border-radius:10px;
}
.bounce{
    margin-left:10;
    display:inline-block;
    animation-iteration-count:infinite;
    animation-duration:13s;
    border:none;
    font-weight:900;
    color:#fff;
    background-color:transparent;
    animation-name:bouncer2;
}
@keyframes bouncer{
    10%{
        transform:rotateZ(360deg) scale(2.5);
        text-shadow:0px 0px 10px rgba(0,0,0,0.7);
    }
    45%{
        transform:rotateZ(0deg) scale(1);
    }
}
@keyframes bouncer2{
    10%{
        transform:translateY(-20px) rotateZ(-200deg) scale(1.05);
        text-shadow:0px 0px 10px rgba(0,0,0,0.7);
    }
    45%{
        transform:translateY(20px);
    }

body {
    margin-bottom:45px;
    }
}
